<div>
  <h3><%= @admin.name %></h3>
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>一言：<%= post.body %></p>
</div>
<% end %>