<div>
  <h3><%= @user.name %></h3>
  <% if user_signed_in? && @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h2>いいねした投稿一覧</h2>
<% if @favorite_posts.any? %>
  <ul>
    <% @favorite_posts.each do |post| %>
      <li>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだいいねした投稿はありません</p>
<% end %>

<% if user_signed_in? && @user == current_user %>
  <div>
    <%= link_to "退会",user_path(current_user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %>
  </div>
<% end %>