<% @posts.each do |post| %>
  <div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
    <p>タイトル：<%= post.title %></p>
    <p>一言：<%= post.body %></p>
    <p>投稿者：
      <%= link_to admin_admin_path(post.admin.id) do %>
        <%= post.admin.name %>
      <% end %>
    </p>
    <p>コメント数: <%= post.post_comments.count %></p>
  </div>
<% end %>