<table>
  <% posts.each do |post| %>
    <tr>
      <td><%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image %>
        <% end %>
      </td>
      <td>タイトル：<%= post.title %></td>
      <td>一言：<%= post.body %></td>
      <td>投稿者：
        <%= link_to admin_path(post.admin.id) do %>
          <%= post.admin.name %>
        <% end %>
      </td>
      <td><%= render "favorites/btn", post: post %></td>
      <td>コメント数: <%= post.post_comments.count %></td>
    </tr>
  <% end %>
</table>